beautifulsoup4
dnspython
fastapi
fuzzywuzzy
imagehash
ipwhois
joblib
numpy
openpyxl
pandas
Pillow
playwright
publicsuffix2
pydantic
pydantic-settings
python-Levenshtein
python-multipart
PyYAML
requests
scikit-learn
sse-starlette
structlog
tldextract
tqdm
urllib3
uvicorn[standard]
xgboost